 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;900&display=swap');
 

html {
  height: 100%;
   
}

* {
  letter-spacing: 1px;
}
 
body {
  padding: 0;
  margin: 0; 
  display: flex;
  flex-direction: column;
}
 
.right-side, .left-side { 
  width: 300px;
  padding: 3%;  
  max-height: fit-content;
  height: -moz-max-content;
  background: rgba( 113, 164, 220, 0.30 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 1.5px );
-webkit-backdrop-filter: blur( 1.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.right-side {
  justify-self: flex-start;
}
.left-side {
  justify-self: flex-end; 
  text-align: left;
  height: fit-content;  
}
.weather-box { 
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  /* grid-auto-rows:300px 300px; */
  color: white;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  margin-top:25vh; 
}
 

.bg-img {
  height: 100%;
  width: 100%;
  z-index: -1;
  position: absolute; 
}

table {
  width: 100%; 
  font-size: calc(10px + .15vw);
}
th {
  text-align: left;
}
td {
  text-align: right;
}

.day {
  font-weight: 600;
  font-size: calc(11px + .25vw);
    margin: 0;
}

.date, .place {
  font-size: calc(8px + .20vw);
    margin: 0;
} 
.temp {
  margin: 120px 0 0 0;
  font-weight: 400;
  font-size: calc(30px + 2vw)
}

.temp-type {
  margin: 0;
  font-size: 12px;
}

.temp-type::first-letter {
  text-transform: uppercase;
}

.place, .date {
  opacity: .70;
}

.forecast-box {
  display: flex;
  justify-content: space-evenly;
  font-size: 13px;
}
 

.forecast-box p{
  margin: 5px;
  font-size: calc(10px + .25vw);
}

.forecast-box div{
  padding: 1% 2%; 
  text-align: center;
    letter-spacing: 1px;
}

.forecast-box img {
  width: 3.5em;
  display: block;
}
 
hr {  
  margin: 30px auto 20px auto;
  width: 60%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
} 

form {
  margin: 15px 0 0; 
}
#city {
background: rgba( 255, 255, 255, 0.30 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 7.0px );
-webkit-backdrop-filter: blur( 7.0px ); 
border: 1px solid rgba( 255, 255, 255, 0.18 );
width: 100%;
height: 25px;
border-radius: 20px;
outline: none; 
color: white;
font-size: 15px;
text-align: center;
}

#city::placeholder {
  font-size: 12px;
  color: white;
  font-style: italic;
  font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width: 700px) {
  .weather-box {
    display: flex;
    flex-direction: column;
    margin-top:0;
    padding: 40px 7px 7px;
  }

  .left-side {
    text-align: center; 
    padding-bottom: 60px;
  }
  .temp {
    margin: 60px 0 0;
  }

}